<% if (person.custom.like) { %>
  <input type="hidden" name="actie" value="vind-ik-niet-leuk">
  <button type="submit">ЁЯТФ</button>
<% } else { %>
  <input type="hidden" name="actie" value="vind-ik-leuk">
  <button type="submit">тЭдя╕П</button>
<% } %>